<h2>Courses List</h2>
<a class="add-course-button btn btn-primary" href="/lesson7/courses/new">Add New Course</a>

<table class="courses-table table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Language</th>
            <th>Difficulty</th>
            <th>Instructor</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Example course data, replace with your actual data -->
        <%courses.forEach(course=> {%>
            <tr>
                <td class="tdBold"><%=course.title%></td>
                <td><%=course.description%></td>
                <td><%=course.language%></td>
                <td><%=course.difficulty%></td>
                <td>
                    <!-- Replace with actual logic to display instructor -->
                    <a href="/lesson7/instructors/<%=course.dataValues.instructor.id%>/courses" class="aProfessor"><%=course.dataValues.instructor.name%></a>
                </td>
                <td class="actions-cell">
                    <a class="view-course-button btn btn-info" href="/lesson7/courses/details/<%=course.dataValues.id%>">View</a>
                    <a class="edit-link btn btn-warning" href="courses/edit/<%=course.id%>">Edit</a>
                    <button class="delete-button btn btn-danger" onclick="confirmDelete('<%=course.id%>','/lesson7/courses/delete/')">Delete</button>
                </td>
            </tr>
            <%})%>
    </tbody>
</table>

<style>
   
    a{
        color: rgb(255, 255, 255) !important;
    }
    header a, .aProfessor{
        color:#0d6efd !important;
    }
    button.btn-danger{
        font-size: 15px !important;
    }
    button.btn-danger:hover{
        text-decoration: underline !important;
    }
    a.btn-primary:hover{
            text-decoration: underline !important;
            background-color:#117546 !important;

        }
        a.btn-primary{
        background-color:#18c575 !important;
    }
</style>

<%- include("../partials/modaldelete")%>