<div class="instructors-list-container">
    <h2>Instructors List</h2>

    <a class="btn btn-primary" href="/lesson7/instructors/new">Add New Instructor</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            <% instructors.forEach(function(instructor) { %>
                <tr>
                    <td><%= instructor.id %></td>
                    <td><%= instructor.name %></td>
                    <td>
                        <a href="instructors/<%= instructor.id %>/courses" class="btn btn-info">View Courses</a>
                        <button class="btn btn-danger" onclick="confirmDelete('<%= instructor.id %>','/lesson7/instructors/delete/')">Delete</button>
                    </td>
                    <td>
                        <% if (instructor.image_path) { %>
                            <img class="instructor-image" src="<%= instructor.image_path %>" alt="Instructor Image">
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <style>
        button.btn-danger{
            padding: 11px !important;
            font-size: 15px !important;
            text-decoration: underline !important;

        }
    
        button.btn-danger:hover{
            text-decoration: underline !important;
        }

        a.btn-primary:hover{
            text-decoration: underline !important;
            background-color:#117546 !important;
        }
        .btn-info:hover{
            text-decoration: underline !important;
        }

        .table{
            margin-top: 30px !important;
        }
        a.btn-primary{
        background-color:#18c575 !important;
    }
    .footer {
        position: absolute;
        width: 100vw;
        left: 0;
        margin-top: 60px;

    background-color: #333;
    color: #1a73e8;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}



    </style>

    <!-- Modal -->
    <%- include("../partials/modaldelete")%>
